/*------tag selectors-----*/
body{
    margin: 0px;
    text-align: center;
}
/*------class selectors-----*/
.heading{
    margin: 0px;
}

.top-container{
    background-color: azure;
    padding-top: 100px;
    position: relative;
}

.top-cloud{
    position: absolute;
    right: 150px;
    top: 40px;
}
.bottom-cloud{
    position: absolute;
    left: 150px;

}

.mountain{
}
.middle-container{
    
}

.bottom-container{
   
}

/*------id selectors-----*/

